# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Temp
temp/*
!temp/.gitkeep

# Media generada (no versionar)
*.wav
*.mp4
*.avi
*.mov

# Mantener música del proyecto
!app/assets/music/*.mp3

# OS
.DS_Store
Thumbs.db
